# Android/IntelliJ
*.iml
.gradle/
/local.properties
/.idea/
/captures/
/build/
/app/build/
/outputs/
/.gradle/
/navigation.json
# OS files
.DS_Store
Thumbs.db
# Keystores (NO subas tus claves)
*.jks
*.keystore
# Log/Temp
*.log
*.tmp
# Android Studio
.cxx/
.externalNativeBuild/
/gradle/
!gradle/wrapper/gradle-wrapper.jar
